.clip-path-slanted {
  clip-path: polygon(0 15%, 0 100%, 100% 85%, 100% 0);
}

.shadow-port-gore {
  filter: drop-shadow(8px 12px 0 theme("colors.port-gore.500"));
}

.shadow-viridian {
  filter: drop-shadow(8px 12px 0 theme("colors.viridian.500"));
}

.shadow-claret {
  filter: drop-shadow(8px 12px 0 theme("colors.claret.500"));
}

.-rotate-1-deg {
  transform: rotate(-1deg);
}
