<footer class="py-6 bg-gray-900 text-white">
  <div class="max-w-6xl mx-auto">
    <div class="pt-8 flex justify-center">
      <a href="https://ko-fi.com/bassetts"
        ><img
          src="/assets/images/ko-fi-logo.svg"
          alt="Ko-fi logo"
          title="Support me on Ko-fi"
          class="mx-4"
          width="40px"
      /></a>
      <a href="https://github.com/Bassetts/warp-cors"
        ><img
          src="/assets/images/github-logo.svg"
          alt="GitHub logo"
          title="Github"
          class="mx-4"
          width="40px"
      /></a>
    </div>
    <div class="pt-8 text-center text-xl font-medium">
      <p>
        Created with <span role="img" aria-label="love">❤</span> by Jason
        Liquorish. Have an issue?
        <a
          class="text-saffron-500"
          href="https://github.com/Bassetts/warp-cors/issues/new"
          >Report it!</a
        >
      </p>
    </div>
  </div>
</footer>
