@tailwind base;

@tailwind components;

.section-viridian {
  @apply bg-viridian-500 text-white;

  & header {
    @apply shadow-port-gore;

    & > div {
      @apply bg-stiletto-500;
    }
  }
}

.section-port-gore {
  @apply bg-port-gore-500 text-white;

  & header {
    @apply shadow-stiletto;

    & > div {
      @apply bg-viridian-500;
    }
  }
}

.section-stiletto {
  @apply bg-stiletto-500 text-white;

  & header {
    @apply shadow-viridian;

    & > div {
      @apply bg-port-gore-500;
    }
  }
}

.section p {
  @apply mt-5;
}

@tailwind utilities;

.clip-path-slanted {
  clip-path: polygon(0 15%, 0 100%, 100% 85%, 100% 0);
}

.shadow-port-gore {
  filter: drop-shadow(8px 12px 0 theme("colors.port-gore.500"));
}

.shadow-viridian {
  filter: drop-shadow(8px 12px 0 theme("colors.viridian.500"));
}

.shadow-stiletto {
  filter: drop-shadow(8px 12px 0 theme("colors.stiletto.500"));
}

.-rotate-1-deg {
  transform: rotate(-1deg);
}
